<section class="section banded">
  <div class="title">
    End-to-End Technology
    <div class="line"></div>
  </div>
  
  <div class="floating-image left">
    <img src="/img/e2e-iot.png"/>
  </div>
  <div> 
    <p>  
      WAZIUP offers “out-of-the-box” solutions going from sensor nodes to applications. Our solutions are particularly adapted to tough conditions with low power, and long-range applications.
    </p>
    
    <ul>
      <li>
        Long-range, low cost radio communications
      </li>
      <li>
        Enterprise application framework
      </li>
      <li>
        Edge computing IoT gateway
      </li>
      <li>
        Cloud platform
      </li>
    </ul>
  </div>
  <div style="clear: both"></div>
  
</section>
