{{ define "main" }}
<div class="page">

  <div style="display: flex;flex-direction: column;">
    <div class="page-banner">
      {{.Title}}
    </div>
    <img src="/img/hero-curve_.svg" style="width: 100%; object-fit: fill;margin-top: -3;" alt="hero-curve">
  </div>

  <!-- Mission section -->
  <section class="section banded">
    <h1> 
      Our Mission
    </h1>
    <div class="content">
      <div class="w60">
        {{ .Page.Params.mission | markdownify }}
      </div>
      <div class="w40">
        <img src="img/why-choose.webp"/>
      </div>
    </div>
  </section>

  <!-- Network section -->
  <section class="section banded">
    <h1> 
      Our Network
    </h1>
    <div class="content">
      <div class="w60">
        <div style="margin-bottom: 1rem;">
          {{ .Page.Params.network.text | markdownify }}
        </div>
        {{ range .Page.Params.network.coutries }}
          <div class="chip">
            <div class="dot"></div>
            <span>{{ . | markdownify }}</span>
          </div>
        {{end}}
        <div class="eco-img-container">
          <div class="card">
            <div class="text">
              <span>50+</span>
              <h3>Startups Accelerated</h3>
            </div>
            <div class="icon">
              <img src="/img/icons/startup.svg" alt="">
            </div>
          </div>
          <div class="card">
            <div class="text">
              <span>25</span>
              <h3>TechHub Supporting</h3>
            </div>
            <div class="icon">
              <img src="/img/icons/tech-hub.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="w40">
        <img src="img/network-map.svg"/>
      </div>
    </div>
  </section>


  <!-- Our Team -->
  <section class="section banded">
    <h1> 
     Our Team 
    </h1>
    {{ $teammemberPage := .Page.GetPage "team-members"}}
    <div class="team-member-container" style="margin-top: auto;">
      {{ range sort $teammemberPage.Pages ".Weight" "desc" }}
    
        {{ $cover := .Resources.GetMatch .Params.cover }}
        {{ partial
          "team-member-card.html" (dict
          "Cover" $cover.RelPermalink
          "Name"  .Params.name 
          "Role"  .Params.role )}} 
      {{ end }}
    </div>
  </section>

  <!-- Hiring -->
  <section class="section banded">
    <h1> 
     Join Us!
    </h1>
    <div class="content">
      <div class="w60">
        <div>
          {{ .Page.Params.hiring | markdownify }}
        </div>
        <a class="btn-learn-more-white blm-orange" href="career">
          <span class="material-symbols-outlined">arrow_circle_right</span>
          Open positions
        </a>
      </div>
      <div class="w40">
        <img src="career/img/hiring_nn.svg"/>
      </div>
    </div>
  </section>


</div>
{{end}}

