{{ define "main" }}
<div class="page">

  <div class="hero section">
    <div class="kit-branding"> 
        <div>
          {{ .Page.Params.hero | markdownify }}
          <a class="text-link " href="#">
            <span class="material-symbols-outlined">arrow_circle_right</span> Learn more
          </a>
        </div>
        <div class="kit-img">
          <img src="img/capacity-banner.png" alt="">
        </div>
        <div class="action-button">
          <a class="btn-lemo-solid" href="https://lab.waziup.io/" target="_blank">
            Try WaziLab
            <span class="material-symbols-outlined" style="font-size: 16px;">
              arrow_outward
            </span>
          </a>
      </div>
    </div>
  </div>
  <img src="/img/hero-curve_.svg" style="width: 100%; object-fit: fill;margin-top: -3;" alt="hero-curve">
  
  <!-- WaziLab section -->
  <section class="section banded" id="wazilab">
    <h1> 
      WaziLab 
    </h1>
    <div class="content">
      <div class="w40">
        <img src="img/learning-center.webp"/>
      </div>
      <div class="w60">
        <div>
          {{ .Page.Params.wazilab | markdownify }}
        </div>
        <a class="btn-learn-more-white blm-orange" href="wazilab">
          <span class="material-symbols-outlined">arrow_circle_right</span>
          Learn more
        </a>
      </div>
    </div>
  </section>

  <!-- Solution Lab section -->
  <section class="section banded" id="solution-lab">
    <h1> 
      Solution Lab 
    </h1>
    <div class="content">
      <div class="w60">
        <div>
          {{ .Page.Params.solutionlab | markdownify }}
        </div>
        <a class="btn-learn-more-white blm-orange" href="solution-lab">
          <span class="material-symbols-outlined">arrow_circle_right</span>
          Learn more
        </a>
      </div>
      <div class="w40">
        <img src="img/wazilab.svg"/>
      </div>
    </div>
  </section>

  <!-- Hackathon section -->
  <section class="section banded" id="wazihack">
    <h1> 
      Waziup Innovation Accelaration
    </h1>
    <div class="content">
      <div class="w40">
        <img src="img/hackathon.webp"/>
      </div>
      <div class="w60">
        <div>
          {{ .Page.Params.wazihack | markdownify }}
        </div>
        <a class="btn-learn-more-white blm-orange" href="wazihack">
          <span class="material-symbols-outlined">arrow_circle_right</span>
          Learn more
        </a>
      </div>
    </div>
    <div class="content">
      <div class="w40">
        <img src="img/hackathon.webp"/>
      </div>
      <div class="w60">
        <div>
          {{ .Page.Params.tech-acceleration | markdownify }}
        </div>
        <a class="btn-learn-more-white blm-orange" href="tech-acceleration">
          <span class="material-symbols-outlined">arrow_circle_right</span>
          Learn more
        </a>
      </div>
    </div>
  </section>

  <!-- certification section -->
  <section class="section banded" id="certifications">
    <h1> 
      Waziup Certification
    </h1>
    <div class="content">
      <div class="w60">
        <div>
          {{ .Page.Params.certification | markdownify }}
        </div>
        <a class="btn-learn-more-white blm-orange" href="wazihack">
          <span class="material-symbols-outlined">arrow_circle_right</span>
          Learn more
        </a>
      </div>
      <div class="w40">
        <img src="img/certificate.png"/>
      </div>
    </div>
  </section>
</div>
{{end}}

