{{ define "main" }}
<div class="page">

  <div style="display: flex;flex-direction: column;">
    <div class="page-banner">
      {{.Title}}
    </div>
    <img src="/img/hero-curve_.svg" style="width: 100%; object-fit: fill;margin-top: -3;" alt="hero-curve">
  </div>

  <!-- News section -->
  <section class="section banded">
    <h1> 
      Latest updates
    </h1>
    {{ $newsPage := .Page.GetPage "media/news" }} 
    {{ $news := first 3 $newsPage.Pages }}
    
    <div style="margin-top: auto;">
      <ul class="card-group"  id="news-card-group">
        {{ range sort $news ".Date" "desc" }}
          {{ $cover := .Resources.GetMatch .Params.cover }}
          {{ partial "card.html" (dict
            "Cover"       $cover.RelPermalink
            "Category"    .Params.category
            "Date"        (.Date | time.Format ":date_long")
            "Description" .Params.title
            "Permalink"   .Permalink )}}
        {{ end }}  
      </ul>
      <div style="display: flex; justify-content: center; align-items: center;">
        <a class="btn-call-to-action" href="/media/news/">
          <span class="material-symbols-outlined">arrow_circle_right</span> See all
        </a>
      </div>
    </div>
  </section>

  <!-- Youtube section -->
  <section class="section banded">
    <h1> 
      We are on Youtube
    </h1>
    <div class="youtube-container">
      <!-- Retrieving Video list from Waziup Youtube channel. 
      Get the key from here: https://console.developers.google.com/apis/credentials -->
      {{ $key := "AIzaSyA572aZ-VMatfSZfGs7wjaZ-2dc39_meGY" }}
      {{ $channel := "UCGbGcMnBxiJG6Q29LyuKOJQ" }}
      {{ $urlPath := print "https://www.googleapis.com/youtube/v3/search?key=" $key "&channelId=" $channel "&part=snippet,id&order=date&maxResults=30&type=video" }}
      {{ $data := resources.GetRemote $urlPath | transform.Unmarshal | jsonify }}
      {{ range $data.items }}
        <div class="item">
          <a href="https://www.youtube.com/watch?v={{ .id.videoId }}" target="_blank">
            <img src="https://img.youtube.com/vi/{{ .id.videoId }}/mqdefault.jpg"></img>
          </a>
          <h3>{{ htmlUnescape .snippet.title }}</h3>
        </div>
      {{ end }}
    </div>
  </section>

</div>
{{end}}

