{{ define "main" }}
<div class="page">

  <div style="display: flex;flex-direction: column;">
    <div class="page-banner">
      {{.Title}}
    </div>
    <img src="/img/hero-curve_.svg" style="width: 100%; object-fit: fill;margin-top: -3;" alt="hero-curve">
  </div>
  {{ $newsPage := .Page.GetPage "media/news" }} 
  {{ $news := $newsPage.Pages }}
  
  <div class="single">
    <ul class="card-group"  id="news-card-group">
      {{ range sort $news ".Date" "desc" }}
        {{ $cover := .Resources.GetMatch .Params.cover }}
        {{ partial "card.html" (dict
          "Cover"       $cover.RelPermalink
          "Category"    .Params.category
          "Date"        (.Date.Format "January 2, 2006")
          "Description" .Description
          "Permalink"   .Permalink )}}
      {{ end }}  
    </ul>
  </div>
</div>
{{end}}

