{{ define "main" }}
<div class="page project">

  <div class="page-banner">
    {{.Title}}
  </div>
  <img src="/img/hero-curve_.svg" style="width: 100%; object-fit: fill;margin-top: -3;" alt="hero-curve">

  <div class="single">
    <div class="project-main">
      <div class="project-desc"> 
        {{ .Content | safeHTML }}
      </div>
      <div class="project-id">
        <img src={{.Page.Params.logo}} width="200px">
        </br>
        </br>
        <b>Category:</b>
        {{.Page.Params.category}}
        </br>
        </br>
        
        <b>Countries:</b>
        <ul>
        {{range .Page.Params.countries}}
          <li> {{.}} </li>
        {{end}}
        </ul>
        <b>Duration:</b>
        {{.Page.Params.duration}}
        </br>
        </br>
        {{if .Page.Params.website}}
          <a href={{.Page.Params.website}} target=_blank>Website</a>
        {{end}}
      </div>
    </div>
    </br>
    <div style="display:flex; gap: 1rem;">
      <div class="w40">
        <img src={{.Page.Params.acknowledgement.logo}} width="100px">
      </div>
      <div class="w60">
        {{.Page.Params.acknowledgement.text}}
      </div>
    </div>
  </div>

</div>
{{end}}
