// Used in layout
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;

$font-size-base: 16px !default;
$font-size-12: 0.75rem !default;
$font-size-14: 0.875rem !default;
$font-size-16: 1rem !default;

$border-radius: $padding-4 !default;

$body-font-weight: normal !default;

$body-min-width: 20rem !default;
$container-max-width: 100% !default;

$header-height: 3.5rem !default;
$menu-width: 16rem !default;
$toc-width: 16rem !default;
$pageInset: 5vw;

$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;
$xxl: 1920px;

$waziup-orange-deep: #F35E19;
$waziup-orange-light: #F48652;
$waziup-off-white: #f5f5f5;
$waziup-blue: #186DBF;
$waziup-dark: #292f3f;
$waziup-black-light: #515b60;

$color_1: #444;
$color_2: #777;
$background-color_1: #eee;
$background-color_2: #ccc;
$background-color_3: white;

$margin-adjust-with-container-xxl: auto -20vw;

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1.2em;
	color: #515b60;
	background-color: #fff;
}

@media(max-width: $md) {
	>.body {
		font-size: medium;
	}
}

h1 {
	font-size: 2em;
}

// The Nav bar
.nav {
	height: 5rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	z-index: 1;

	// Logo
	>.nav-header {
		display: inline;
		height: fit-content;

		>a>img {
			display: inline-block;
			width: 15rem;
			padding: 10px 10px 10px 30px;
		}
	}

	>.nav-btn {
		display: none;
	}

	// Horizontal list of menu entries
	ul {
		list-style: none;
		display: flex;

		// menu entries
		li {
			position: relative;

			// open the menu when hovering
			&:hover {
				ul {
					visibility: visible;
					opacity: 1;
				}
			}

			// Sub menu list 
			ul {
				margin: 0;
				padding: 0;
				//Keep the drop-down hidden
				visibility: hidden;
				opacity: 0;
				position: absolute;
				z-index: 99999;
				width: 200px;
				background: #ffffff;
				box-shadow: 1px 1px 3px #ccc;
				/* css3 transitions for smooth hover effect */
				-webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
				-moz-transition: opacity 0.2s linear, visibility 0.2s linear;
				-o-transition: opacity 0.2s linear, visibility 0.2s linear;
				transition: opacity 0.2s linear, visibility 0.2s linear;
				top: 65px;
				left: 1px;
				display: inline-block;

				// sub menu items
				li {
					clear: both;
					width: 100%;
					border: 0 none;
					border-bottom: 1px solid #c9c9c9;
					padding: 14px 10px;

					a {
						text-decoration: none;
						color: $waziup-black-light;
					}

					ul {
						left: 200px;
					}

					&:hover {
						a {
							color: $waziup-orange-deep;
						}
					}
				}
			}
		}

	}

	// The menu entries
	>.nav-links {

		display: flex;
		gap: 1rem;
		align-items: center;
		float: right;
		font-size: 1em;
		height: inherit;
		margin-right: 2vw;

		.nav-item {
			display: flex;
			position: relative;
			align-items: center;
			vertical-align: middle;
			padding: 12px 16px;
			text-decoration: none;
			color: #515b60;

			&:hover {
				color: $waziup-orange-deep;
			}

			&.nav-active {
				color: $waziup-orange-deep;
			}

			>ul>li>a {
				text-decoration: none;
			}
		}

		.active {
			color: $waziup-orange-deep;
		}

		>button {
			background-color: #F35E19;
			border: none;
			color: white;
			padding: .5rem 1rem;
			margin-left: 16px;
			font-size: .95em;
			cursor: pointer;
			height: fit-content;
			display: flex;
			align-items: center;
			// border: #fff .5px solid;
			border-radius: 4px;

			>span {
				margin-right: 8px;
			}
		}
	}


	>#nav-check {
		display: none;
	}

	.dropdown {
		float: left;
		overflow: hidden;
		// height: 100%;
		display: flex;
		align-items: center;
		background-color: $waziup-orange-deep;
		// position: relative;

		.dropbtn {
			display: flex;
			font-size: 1em;
			border: none;
			outline: none;
			color: white;
			padding: 14px 16px;
			background-color: inherit;
			font-family: inherit;
			margin: 0;
			cursor: pointer;
			gap: .5rem
		}

		&:hover {
			// .dropbtn {
			// 	background-color: rgba(0, 0, 0, 0.3);
			// 	color: #F35E19;
			// }

			.dropdown-content {
				display: block;
			}
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			width: 100%;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 1;
			top: 66px;

			a {
				float: none;
				color: black;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				text-align: left;
				display: flex;
				gap: 1rem;
				align-items: center;

				&:hover {
					background-color: #ddd;
					color: #F35E19;
				}
			}
		}
	}
}

@media(max-width: $lg) {
	.nav {
		>.nav-btn {
			display: inline-block;

			>label {
				display: inline-block;
				width: 50px;
				height: 50px;
				padding: 13px;

				&:hover {
					background-color: rgba(0, 0, 0, 0.3);
				}

				>span {
					display: block;
					width: 25px;
					height: 10px;
					border-top: 2px solid #eee;
				}
			}
		}

		#nav-check {
			&:checked {
				~ {
					.nav-btn {
						>label {
							background-color: rgba(0, 0, 0, 0.3);
						}
					}
				}
			}
		}

		>.nav-links {
			position: absolute;
			display: block;
			width: 100%;
			background-color: $waziup-dark;
			height: 0px;
			transition: all 0.3s ease-in;
			overflow-y: hidden;
			top: 5rem;
			left: 0px;

			>a {
				display: block;
				// width: 100%;
			}
		}

		>#nav-check {
			&:not(:checked) {
				~ {
					.nav-links {
						height: 0px;
					}
				}
			}

			&:checked {
				~ {
					.nav-links {
						height: calc(100vh - 50px);
						overflow-y: auto;
					}
				}
			}
		}

		.dropdown {
			.dropdown-content {
				background-color: #172037;
				top: 325px;

				>a {
					color: #fff;
				}
			}
		}
	}
}

.container {
	max-width: $container-max-width ;
	margin-top: 5rem;
	min-height: calc(100vh - 295px);
	padding: 0 5vw;

	@media (max-width:$sm) {
		margin-right: 5vw;
		margin-left: 5vw;
	}

	@media (max-width:$xl) {
		margin-right: 5vw;
		margin-left: 5vw;
	}

	@media (min-width:$xl) {
		margin-right: 15vw;
		margin-left: 15vw;
	}
}

.page-banner {
	position: relative;
	display: flex;
	height: 300px;
	overflow: hidden;
	padding: 2rem;
	margin: 5rem -20vw 0;

	>img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		// z-index: 2;
	}
}

.page-banner-static-color {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	font-weight: 300;
	color: #fff;
	height: 200px;
	overflow: hidden;
	background-color: #292f3f;
	margin-top: 5.5rem;
	margin: 0 -20vw;
	padding: 2rem 5vw;

	@media (max-width:$sm) {
		margin: 5rem -5vw 0;
		font-size: 1.5em;
	}

	@media (min-width:$sm) and (max-width:$md) {
		font-size: 2em;
	}

	@media (max-width:$xl) {
		height: 10rem;
		margin: 5rem -10vw 0;
	}

	@media (min-width:$xl) {
		margin: 5rem -20vw 0;
	}
}

.typography {
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1em;
	font-weight: 300;
	text-align: center;
	position: relative;

	>h1 {
		text-align: center;
		margin: auto;
	}
}

.page-footer {
	position: relative;
	bottom: 0px;
	left: 0px;
	min-height: 215px;
	width: 100%;
	padding: 2rem;
	background-color: $waziup-dark;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	box-sizing: border-box;
	justify-content: center;

	#foot-sec-1 {
		order: 1;
	}

	#foot-sec-2 {
		order: 2;
	}

	#foot-sec-3 {
		order: 3;
	}

	.footer-items {
		width: 30%;
		box-sizing: border-box;
		color: #fff;
		font-weight: 200;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		>h4 {
			margin: 0;
			color: #fff;
		}

		>p {
			font-size: 16px;
			text-align: justify;
			// line-height: 25px;
			margin-top: .25rem;
			margin-bottom: .25rem;
			color: #fff;
		}

		.loc-cont-mail {
			display: inline-flex;
			flex-wrap: wrap;
			gap: 2rem;
			align-items: initial;

			.multiline-paragraph {
				display: flex;
				flex-direction: column;

				>p {
					margin-top: 0;
					margin-bottom: .5rem;
				}
			}
		}

		.media-icons {

			display: inline-flex;
			gap: 1rem;
		}

		>p>a {
			&:hover {
				text-decoration: underline;
			}
		}

		@media(max-width: $sm) {
			width: 100%;
		}
	}
}

.btn-lemo-solid {
	display: flex;
	width: fit-content;
	align-items: center;
	justify-content: center;
	padding: .6rem 2rem;
	color: #fff;
	background-color: $waziup-orange-deep;
	border-radius: 2rem;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font-size: 1em;
	text-decoration: none;
	margin-top: 2rem;
}

.btn-lemo-lined {
	background-color: transparent;
	color: #F48652;
	border: 2px #F48652 solid;
}

// Big page with banded sections and a hero section
.page {

	text-align: justify;

	//section titles
	.section h1 {
		margin-top: 0.5rem;
		margin-bottom: 3.5rem;
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 100%;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
		font-weight: bold;
		gap: .7rem;
	}

	// Small underline after the title 
	.section h1::after {
		content: "";
		height: 1px;
		bottom: 0;
		width: 8%;
		left: 25%;
		border-top: .35rem solid coral;
		border-radius: 1rem;
		margin-top: 1rem;
	}

	.section h2 {
		font-size: 1.2em;
		text-align: center;
		padding: 1rem 0;
	}

	//Hero section 
	.hero {
		background-color: $waziup-dark;
		color: #fff;

		>div,
		p {
			color: #fff
		}
	}

	@media (max-width: $xl) {
		.title {
			margin: 0 0 3vh;
			width: 100%;
		}
	}

	@media (max-width: $lg) {
		.title {
			font-size: 1.5rem;
		}
	}


	// Banded sections of alternated colors
	.banded:nth-of-type(even) {
		background-color: $waziup-off-white;
	}

	.section {
		margin: 0 -20vw;
		padding: 5vh 20vw;
		list-style-image: url(/img/icons/check-circle.svg);
		list-style-position: inside;
		scroll-margin-top: 5rem;

		ul {
			padding-left: 15px;
      li {
			  padding-top: 5px;
			  padding-bottom: 5px;
      }
		}

		&::before,
		&::after {
			content: '';
			display: block;
			clear: both;
		}

		//Dynamic margins according to screen size
		@media (max-width:$sm) {
			margin: 0 -10vw;
			padding: 5rem 5vw;
		}

		@media (min-width:$sm) and (max-width:$lg) {
			margin: 0 -10vw;
			padding: 5rem 10vw;
		}

		@media (min-width:$lg) and (max-width:$xl) {
			margin: 0 -10vw;
			padding: 5rem 10vw;
		}

		@media (min-width:$xl) and (max-width:$xxl) {
			margin: 0 -20vw;
			padding: 5rem 10vw;
		}

		@media (min-width:$xxl) {
			margin: 0 -20vw;
			padding: 5rem 20vw;
		}

    //section content
    .content {
      display: flex;
      justify-content: space-between;
      gap: 64px;
     
      .w40 {
        width: 40%;
      } 
      .w60 {
        width: 60%;
      } 

      img {
        width: 100%;
      }
    }
	}

	//Single page style
	.single {
		margin: 0 -20vw;
		padding: 5vh 20vw;
	}

}

.btn-learn-more-white {
	text-decoration: none;
	color: #fff;
	display: flex;
	align-items: center;
	gap: .5rem;
	width: fit-content;
	padding: .6rem;
	padding-left: 0;
	border: 0;
	transition: all 0.5s;
	border-radius: 2rem;
	position: relative;
}

.blm-dark {
	color: $waziup-dark;

	&:hover {
		background-color: $waziup-dark;
		color: #fff;
		transition: all 0.5s;
		padding: .6rem .8rem;
	}
}

.blm-orange {
	color: $waziup-orange-deep;

	&:hover {
		background-color: $waziup-orange-deep;
		color: #fff;
		transition: all 0.5s;
		padding: .6rem .8rem;
	}
}

.card-group {
	padding: 1rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2.5rem;
	list-style-type: none;

	// .size-medium {
	// 	width: 30%;

	// 	@media (max-width: $sm) {
	// 		width: 100%;
	// 	}
	// }

	// .size-small {
	// 	width: 23%;

	// 	@media (max-width: $sm) {
	// 		width: 100%;
	// 	}
	// }

	.card {
		display: flex;
		flex-direction: column;
		align-items: left;
		border-radius: 4px;
		transition: 0.3s;
		width: 30%;
		text-decoration: none;

		&:hover {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		}

		.media {
			position: relative;
			width: 100%;

			>img {
				width: 100%;
				object-fit: cover;
				background-color: #EBEBEB;
				height: 300px;
			}

			>span {
				background: #F35E19;
				color: #fff;
				padding: 4px 16px;
				position: absolute;
				right: 16px;
				top: 0px;
			}
		}

		.content {
			display: flex;
			flex-direction: column;
			// justify-content: space-between;
			width: 100%;
			padding: 1rem;
			overflow: hidden;

			>span {
				color: #F35E19;
				font-size: 1em;
			}

			>h3 {
				flex-grow: 1;
				color: #515b60;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				white-space: pre-wrap;
			}
		}

		@media (max-width: $sm) {
			width: 100%;
		}

		@media (min-width:$sm) and (max-width:$lg) {
			width: 45%;
		}
	}

	.project-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 4px;
		transition: 0.3s;
		width: 30%;
		overflow: hidden;

		&:hover {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		}

		a {
			text-decoration: none;
		}

		.media {
			width: 100%;
			height: 300px;
			position: relative;
			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;

			.shape {
				height: 100%;
				object-fit: contain;
				position: absolute;
				top: 0;
				left: 0;
				margin-left: -15%;
			}

			.logo {
				width: 70%;
				object-fit: cover;
				position: absolute;
				// z-index: 1;
			}

		}

		.content {
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 1rem;
			padding-top: 0;
			overflow: hidden;

			>h2 {
				// color: #263238;
				text-decoration: none;
				font-weight: 500;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				white-space: pre-wrap;
			}

			>a {
				text-decoration: none;
				color: $waziup-orange-deep;
				// padding: .5rem 1rem;
				display: flex;
				align-items: center;
				gap: .5rem;
				width: fit-content;
				padding: .5rem;
				padding-left: 0;
				border: 0;
				transition: all 0.5s;
				border-radius: 4px;
				position: relative;

				&:hover {
					background-color: $waziup-orange-deep;
					color: #fff;
					transition: all 0.5s;
					padding: .5rem .8rem;
				}
			}

		}

		@media (max-width: $sm) {
			width: 100%;
		}

		@media (min-width:$sm) and (max-width:$lg) {
			width: 45%;
		}

	}

	.dev-board-card {
		transition: 0.3s;
		text-decoration: none;
		color: #515b60;
		// width: 30%;

		&:hover {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		}

		img {
			width: 100%;
			object-fit: cover;
			background-color: #EBEBEB;
		}

		.content {
			overflow: hidden;
			width: 100%;
			padding: 1rem;

			h3 {
				margin: 0;
			}

			>p {
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				white-space: pre-wrap;
				font-size: 1.2rem;
				margin-top: .5rem;
			}

			>a {
				text-decoration: none;
				color: $waziup-orange-deep;
				// padding: .5rem 1rem;
				display: flex;
				align-items: center;
				gap: .5rem;
				width: fit-content;
				padding: .6rem;
				padding-left: 0;
				border: 0;
				transition: all 0.5s;
				border-radius: 2rem;
				position: relative;

				&:hover {
					background-color: $waziup-orange-deep;
					color: #fff;
					transition: all 0.5s;
					padding: .6rem .8rem;
				}
			}
		}

		icon {
			height: 8rem;
			width: 8rem;
		}

		@media (max-width: $sm) {
			width: 100%;
		}

		@media (min-width:$sm) and (max-width:$lg) {
			width: 45%;
		}

		@media (min-width:$lg) and (max-width:$xl) {
			width: 30%;
		}

		@media (min-width: $xl) {
			width: 23%;
		}
	}

	.startup-card {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		width: 30%;
		border-radius: 5px;
		text-decoration: none;
		color: #333;

		&:hover {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		}

		>img {
			border-radius: 5px 5px 0 0;
			width: 100%;
			height: 300px;
		}

		.card-content {
			overflow: hidden;
			width: 100%;
			padding: 1rem;

			>span {
				font-size: 1rem;
				color: darkgrey;
			}

			>p {
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				white-space: pre-wrap;
				font-size: 1.2rem;
			}

			>div {
				display: flex;
				align-items: center;
				gap: 1rem;
				margin-bottom: .5rem;
			}

		}
	}

	.service-card {
		width: 30%;
		display: flex;
		//justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: transparent;
		border-radius: 8px;
		padding: 20px;
		// height: 300px;

		.icon {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: .5rem;
			border: #0d1528 3px solid;
			border-radius: 50%;
			border-color: $waziup-orange-deep;
			margin-bottom: 10px;

			span.material-symbols-outlined {
				font-size: 56px !important;
				color: $waziup-orange-deep;
				font-weight: 200;
			}

		}

		.title {
			text-align: center;
			font-size: 26px;
			font-weight: bold;
			margin: 10px;
			height: 80px;
		}

		.description {
			text-align: justify;
			font-size: 18px;
			color: #666;
			line-height: 1.5;
		}

		@media (max-width: $sm) {
			width: 100%;
		}

		@media (min-width:$sm) and (max-width:$lg) {
			width: 45%;
		}
	}

	.text-link {
		text-decoration: none;
		color: $waziup-orange-deep;
		display: flex;
		align-items: center;
		gap: .5rem;
		width: fit-content;
		padding: .5rem;
		padding-left: 0;
		border: 0;
		transition: all 0.5s;
		border-radius: 4px;
		position: relative;

		&:hover {
			background-color: $waziup-orange-deep;
			color: #fff;
			transition: all 0.5s;
			padding: .5rem .8rem;
		}
	}

	// @media (min-width:$sm) and (max-width:1000px) {
	// 	>.project-card {
	// 		width: 45%;
	// 	}

	// 	>.card {
	// 		width: 45%;
	// 	}

	// 	>.service-card {
	// 		width: 45%;
	// 	}
	// }

	@media(min-width:$lg) {
		gap: 1.5rem;
	}

}

.btn-call-to-action {
	text-decoration: none;
	color: #fff;
	background-color: $waziup-orange-deep;
	display: flex;
	align-items: center;
	gap: .5rem;
	width: fit-content;
	padding: .5rem 1.5rem;
	border: 0;
	transition: all 0.5s;
	border-radius: 2rem;
	position: relative;
}

.quote {
	display: flex;
	flex-direction: column;
	width: fit-content;

	.flex {
		flex: 1;
		display: flex;
		align-items: center;
	}

	>div>span {
		font-size: 1.8em;
		text-align: center;
	}

	>div>img {
		width: 40px;
		object-fit: contain;
	}

	.flex-left {
		justify-content: flex-start;
	}

	.flex-center {
		justify-content: center;
	}

	.flex-right {
		justify-content: flex-end;
	}

	@media(max-width: $sm) {}
}

.floating-content {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 2rem;
	overflow: hidden;
	// width: 450px;
	max-width: 100%;

	>img {
		object-fit: cover;
		width: 100%;
	}

	iframe {
		width: 560px;
		height: 350px;

		@media (max-width: $lg) {
			width: 100%;
		}
	}

	@media (max-width: $lg) {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		margin-left: 0;

		.left,
		.right {
			margin: 0;
		}
	}

	@media(max-width:$sm) {
		width: 100%;
		padding: 0;
	}

	@media(min-width:$xxl) {
		width: 650px;
	}
}

.w-450 {
	width: 450px;
}

.w-500 {
	width: 500px;
}

.w-550 {
	width: 550px;
}

.w-650 {
	width: 650px;
}

.w-700 {
	width: 700px;
}

.left {
	float: left;
	margin-left: 0;
	margin-right: 5vw;
}

.right {
	float: right;
	margin-left: 5vw;
	margin-right: 0;

	@media (min-width: $xl) {
		margin-left: 5vw;
	}
}

.center {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tilt-effect {
	transform:
		rotate(10deg) skew(350deg);
	border-radius: 2px;

	@media(max-width:$lg) {
		transform: rotate(0deg) skew(0deg);
	}
}

.chip {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	height: fit-content;
	width: fit-content;
	padding: 3px 12px;
	margin: 4px;
	;
	background-color: #EBEBEB;
	border: #DBDBDB 1px solid;
	border-radius: 30px;

	.dot {
		height: 10px;
		width: 10px;
		background-color: #F35E19;
		border-radius: 50%;
		display: inline-block;
	}
}

.stv-radio-buttons-wrapper {
	clear: both;
	display: inline-block;

	.stv-radio-button {
		display: none;

		&+label {
			float: left;
			padding: .5em 1em;
			cursor: pointer;
			margin-right: -1px;
			color: #b3b3b3;
			font-size: 1.2em;
			font-weight: 600;
		}

		&:checked+label {
			color: $waziup-orange-light;
		}
	}
}

.youtube-container {
	padding: 2vw 0;
	display: flex;
	// margin-top: 3rem;
	flex-wrap: wrap;
	gap: 2.5rem;

	.item {
		// box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		width: 30%;
		border-radius: 4px;
		text-decoration: none;
		color: #333;
		// padding: .5rem;

		&:hover {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		}

		a>img {
			width: -webkit-fill-available;
		}

		>h3 {
			padding: 0 .5rem;
		}

		@media (max-width: $sm) {
			width: 100%;
		}

		@media (min-width:$sm) and (max-width:$lg) {
			width: 45%;
		}

	}
}

.card-certification-narrow {
	// margin: auto;
	gap: .5rem;
	display: flex;
	flex-wrap: wrap;

	.card {
		display: flex;
		flex-direction: row;
		width: 48%;
		border-radius: .25rem;
		transition: .2s;
		cursor: pointer;
		// padding: .6rem;
		// background-color: #f1f1f1;

		&:hover {
			background-color: #e9e9e9;
		}

		.media {
			padding: .5rem;
			display: flex;
			align-items: center;
			justify-content: center;

			>img {
				width: auto;
				object-fit: contain;
			}
		}

		.content {
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			gap: .5rem;
			padding: .5rem .2rem;
		}
	}

}

.hide {
	display: none;
}

.team-member-container {
	margin: 2vw auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3rem;

	.card {
		display: flex;
		flex-direction: column;
		background-color: #F6F6F6;
		width: 300px;
		border-radius: .5rem;

		>img {
			width: 100%;
			height: 300px;
			object-fit: cover;
		}

		.name {
			padding: 1rem;
			// height: 5rem;
			color: #606060;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			font-size: 1.2em;

			>h3 {
				margin-top: 0;
			}

			>span {
				color: coral
			}
		}
	}
}

.partners {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 4rem;
	margin: 2vw auto;

	>img {
		width: 12rem;
		object-fit: cover;
	}

	;
}

.eco-img-container {
	margin: 5vw 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 2rem;

	>a {
		width: 45%;
		text-decoration: none;

		.card {
			// position: relative;
			display: flex;
			flex-direction: column;
			border-radius: 12px;
			padding: 2rem;
			color: #fff;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			>img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				object-fit: cover;
				// z-index: -1;
			}


			>div {
				position: absolute;
				top: 8rem;
				width: 100%;
				display: flex;
				justify-content: center;

				>button {
					border: 1px solid #fff;
					background-color: transparent;
					padding: .5rem 1.8rem;
					font-size: 1.2em;
					color: #fff;
					text-align: center;
					cursor: pointer;


					&:hover {
						background-color: #fff;
						color: #193861;
					}
				}
			}
		}
	}

	@media(max-width:$sm) {
		margin: 3vw 0;

		>a {
			width: 100%;

			.card {
				height: 200px;

				>h1 {
					top: .2rem;
					left: 2rem;
				}

				>p {
					display: none;
				}
			}
		}
	}
}

.home-video-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// gap: 5rem;
	margin: 15vh auto;

	.iframe-container {
		width: 40%;

		>iframe {
			width: 100%;
			height: 350px;
			display: none;
		}

		>img {
			width: 100%;
			height: 300px;
			border-radius: .5rem;
			cursor: pointer;
		}
	}

	.text-container {
		width: 50%;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		>h1 {
			margin-left: 0;
		}

		>h2 {
			font-weight: 400;
		}
	}
}

input[type=text],
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=email],
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: $waziup-orange-light;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: $waziup-orange-light;
}

.contact-us {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	>.email-box {
		width: 100px;
		height: 100px;
		border-radius: 4px;
		background-color: #DBE5F1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	>a {
		text-decoration: none;
		color: $waziup-orange-deep;
		font-size: larger;
	}

	@media(max-width: $md) {
		width: 100%;
		padding: 0;
	}
}

.g-map {
	float: right;
	padding-left: 5rem;
	width: 60%;
	margin: 2rem auto;
	height: 30rem;

	@media (max-width:$sm) {
		padding-left: 0;
		width: 100%;
		height: 30rem;
	}
}

.accordion {
	background-color: $background-color_1;
	color: $color_1;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 1em;
	transition: 0.4s;
	margin-bottom: .5rem;

	&:hover {
		background-color: $background-color_2;
	}

	&:after {
		content: '\002B';
		color: $color_2;
		font-weight: bold;
		float: right;
		margin-left: 5px;
	}

	.active {
		background-color: $background-color_1;

		&:after {
			content: "\2212";
		}
	}
}

.panel {
	font-size: 1em;
	padding: 0 18px;
	background-color: $background-color_3;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.career-positions {
	margin: 3rem auto;
	display: flex;
	flex-direction: column;
	gap: .5rem;

	.card {
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

		>.text {
			display: flex;
			flex-direction: column;
			flex-grow: 1;

			>h1,
			h2 {
				margin: 0;
				text-align: left;
			}
		}

		.btn-section {
			height: 100%;
		}

	}
}

.subscribe-section {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	padding: 2rem;
	margin: 5vw auto;
	border-radius: 1rem;

	.left-item {
		width: 64%;
		display: flex;
		flex-direction: column;
		color: #fff;

		>h2,
		h4 {
			margin-top: auto;
		}
	}

	.right-item {
		width: 34%;
		display: flex;
		justify-content: center;
		align-items: center;

		>img {
			width: 128px;
		}
	}

	@media(max-width: $sm) {

		.left-item {
			width: 100%;
			justify-content: center;
			align-items: center;
		}

		.right-item {
			width: 100%;

			>img {
				width: 50%;
			}
		}
	}
}

/* Slideshow container */
.slideshow-container {
	width: 100%;

	.mySlides {
		display: none;
		position: relative;

		/* Caption text */
		h1 {
			color: $waziup-orange-deep;
			position: absolute;
			bottom: 50%;
			width: 100%;
			padding: 0 3rem;
			margin: 0;
			text-align: center;
			font-size: 4em;
		}
	}

	/* Fading animation */
	.fade {
		animation-name: fade;
		animation-duration: 2s;
	}

	@keyframes fade {
		from {
			opacity: 0.4;
		}

		to {
			opacity: 1;
		}
	}

	@media (max-width:$sm) {
		>.mySlides>h1 {
			font-size: 2.5em;
			bottom: 40%;
		}
	}

	@media (max-width:$xl) {
		>.mySlides>img {
			height: 30rem;
			object-fit: cover;
		}
	}
}

/* The dots/bullets/indicators */
.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

@keyframes slide {
	0% {
		transform: translateX(150);
	}

	100% {
		transform: translateX(-80%);
	}
}

.logoshow {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3rem;

	img {
		width: 10%;
		object-fit: contain;
	}

	@media (max-width:$md) {
		>img {
			width: 20%;
		}
	}
}

.kit-branding {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	>a {
		text-decoration: none;
	}

	.text-content {
		order: 1;
		width: 45%;
		justify-content: center;
		margin-bottom: 2rem;
		color: #fff;
		background-color: $waziup-dark;
		order: 1;
		display: flex;
		flex-direction: column;

		>div {

			>h1,
			>h2 {
				margin: 0 auto;
			}
		}
	}

	.text-link {
		text-decoration: none;
		color: $waziup-orange-deep;
		padding: .6rem;
		padding-left: 0;
		display: flex;
		align-items: center;
		gap: .5rem;
		width: fit-content;
		border-radius: 2rem;

		&:hover {
			background-color: $waziup-orange-deep;
			color: #fff;
			transition: all 0.5s;
			padding: .6rem .8rem;
		}
	}

	.kit-img {
		order: 2;
		width: 50%;
		order: 2;

		>img {
			width: 100%;
			object-fit: cover;
			display: block;
		}
	}

	.action-button {
		order: 3;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem;
	}

	@media(max-width: $md) {
		.text-content {
			width: 100%;
		}

		.kit-img {
			width: 100%;
		}
	}

	@media(max-width: $lg) {
		.centered {
			margin-left: 0;
		}
	}
}

//// --- Paginator --- ////
.pagination {
	display: flex;
	list-style: none;
	border-radius: .25rem;
	margin: 20px 0;
	padding: 0;
	justify-content: center;
}

.page-link {
	position: relative;
	display: block;
	padding: .75rem 1rem;
	margin-left: -1px;
	line-height: 1.25;
	color: $waziup-orange-deep;
	background-color: #fff;
	border: 1px solid #dee2e6;
}

.homepage .page-link,
.listing .page-link {
	background-color: #fff;
}

.page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	background-color: #fff;
	border-color: #dee2e6;
}

.page-item.active .page-link {
	// z-index: 1;
	color: #fff;
	background-color: $waziup-orange-deep;
	border-color: $waziup-orange-deep;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider-wrapper {
	position: relative;
	max-width: 80rem;
	margin: 0 auto;

	.slider {
		display: flex;
		// aspect-ratio: 16 / 9;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		// box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
		border-radius: 0.5rem;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		>div {
			display: flex;
			align-items: flex-start;
			gap: 3rem;
			flex: 1 0 100%;
			scroll-snap-align: start;

			>div {
				width: 50%;

				>h2 {
					margin: auto;
					text-align: right;
					font-size: 2em;

					@media (max-width: $sm) {
						text-align: left;
						font-size: 1.7em;
					}
				}

				>h3 {
					margin: auto;
					text-align: right;
					font-size: 1.5em;
					font-weight: 500;

					@media (max-width: $sm) {
						text-align: left;
						font-size: 1.2em;
					}
				}

				@media (max-width: $sm) {
					width: 100%;
				}
			}

			>img {
				width: 50%;
				object-fit: contain;

				@media (max-width: $sm) {
					width: 100%;
				}
			}

			@media (max-width: $sm) {
				flex-direction: column;
			}
		}

		>img {
			flex: 1 0 100%;
			scroll-snap-align: start;
			object-fit: cover;
		}

		@media (max-width: $sm) {
			aspect-ratio: unset;
		}
	}

	.slider-nav {
		display: flex;
		column-gap: 1rem;
		position: absolute;
		// bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;

		a {
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			background-color: #fff;
			opacity: 0.75;
			transition: opacity ease 250ms;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}
		}
	}

}


.tech-ring-color {
	height: 100%;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: -10%;
	opacity: .45;

	path {
		fill: var(--tr-color)
	}

	line {
		stroke: var(--tr-color)
	}
}
