{{ with .Params.hide_footer }}
<!-- No footer here! -->
{{ else }}
<footer class="page-footer">
  <div class="footer-items" id="foot-sec-1">
    <!-- Website made by {{ .Site.Params.name }} in {{ now.Year }} -->
    <img src="/img/logo.svg" width="200px" alt="" />
    <div>
      <a href="/contact" style="color: #fff; text-decoration: none">FAQ</a> |
      <a href="/contact" style="color: #fff; text-decoration: none">Contact</a> |
      <a href="/career" style="color: #fff; text-decoration: none">Career</a> 
    </div>
    <p>
      &copy; 2022-2023 Waziup e.V.
      <a href="/imprint" style="color: coral; text-decoration: none">Imprint</a>
      <a href="/privacy" style="color: coral; text-decoration: none">Privacy</a>
    </p>
  </div>
  <div class="footer-items" id="foot-sec-2">
    <div class="loc-cont-mail">
      <span class="material-symbols-outlined">location_on</span>
      <div class="multiline-paragraph">
        <p>Räcknitzhohe 50-52</p>
        <p>01217 Dresden, Germany</p>
      </div>
    </div>
    <div class="loc-cont-mail">
      <span class="material-symbols-outlined">call</span>
      <div class="multiline-paragraph">
        <p>+491555664433</p>
      </div>
    </div>
    <div class="loc-cont-mail">
      <span class="material-symbols-outlined">mail</span>
      <div class="multiline-paragraph">
        <p>contact@waziup.io</p>
      </div>
    </div>
  </div>
  <div class="footer-items" id="foot-sec-3">
    <h4>About us</h4>
    <p>
      <b>WAZIUP e.V</b> is a non-profit organization promoting cutting-edge technologies and capacity building toward emerging countries.
    </p>
    <div class="media-icons">
      <img src="/img/facebook.svg" alt="" />
      <img src="/img/twitter.svg" alt="" />
      <img src="/img/github.svg" alt="" />
      <img src="/img/medium.svg" alt="" />
      <img src="/img/youtube.svg" alt="" />
    </div>
    <a class="btn-lemo-solid btn-lemo-lined" href="/contact" style="color: #fff; border: 2px #fff solid;">
      Contact Us
    </a>
  </div>
</footer>
{{ end }}
