<div class="nav-links" id="myNav">
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li>
            <a class="nav-item {{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href={{.URL}}>{{.Title}}</a>
            {{ if .HasChildren }}
                <ul>
                    {{ range .Children}}
                    <li>
                        <a href="{{.URL}}" class="sub-menu-item{{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}">{{.Title}} {{if .HasChildren }} > {{ end }} </a>
                    </li>
                    {{end}}
                </ul>
            {{ end }} 
        </li>
        {{ end }}
    </ul>

    <div class="dropdown">
      <button class="dropbtn">
        <span class="material-symbols-outlined"> workspaces </span> Go to Platforms
      </button>
      <div class="dropdown-content">
        <a href="https://lab.waziup.io/" target="_blank"> 
          <span class="material-symbols-outlined">school</span>
          <span>WaziLab</span>
        </a>
        <a href="http://dashboard.waziup.io/" target="_blank">
          <span class="material-symbols-outlined">dashboard</span>
          <span>WaziCloud Dashboard</span>
        </a>
        <!-- <a href="http://wazigate.local/">
          <span class="material-symbols-outlined">speed</span>
          <span>Wazigate Dashboard</span>
        </a> -->
      </div>
    </div>
  </div>
