<div class="nav-links" id="myNav">
    <!-- <a class="nav-item {{if hasPrefix .File.Path "iot-edge-platform"}}active{{end}}" href="/iot-edge-platform/">IoT Edge Platform</a>
    <a class="nav-item {{if hasPrefix .File.Path "capacity-building"}}active{{end}}" href="/capacity-building/">Capacity Building</a>
    <a class="nav-item {{if hasPrefix .File.Path "projects"}}active{{end}}" href="/projects/">Research & Innovation</a>
    <a class="nav-item {{if hasPrefix .File.Path "media"}}active{{end}}" href="/media/">Media</a>
    <a class="nav-item {{if hasPrefix .File.Path "about-us"}}active{{end}}" href="/about-us/">About Us</a> -->
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    
      <a class="nav-item {{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href={{.URL}}>{{.Title}}</a>
  
    {{ end }}

    <a class="nav-item"></a>

    <div class="dropdown">
      <button class="dropbtn">
        <span class="material-symbols-outlined"> workspaces </span> Go to Platforms
      </button>
      <div class="dropdown-content">
        <a href="https://lab.waziup.io/" target="_blank"> 
          <span class="material-symbols-outlined">school</span>
          <span>Learning Center</span>
        </a>
        <a href="http://dashboard.waziup.io/" target="_blank">
          <span class="material-symbols-outlined">dashboard</span>
          <span>Waziup Dashboard</span>
        </a>
        <!-- <a href="http://wazigate.local/">
          <span class="material-symbols-outlined">speed</span>
          <span>Wazigate Dashboard</span>
        </a> -->
      </div>
    </div>
  </div>