<meta charset="utf-8" />
<title>{{ .Page.Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $style := resources.Get "css/style.scss" | resources.ToCSS | resources.Minify}}
<link rel="stylesheet" href="{{ $style.Permalink }}" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<link rel="manifest" href="site.webmanifest">

<meta name="theme-color" content="#fafafa">

{{ $script := resources.Get "js/script.js" | resources.Minify}}
<script src="{{ $script.Permalink }}"></script>

