<div class="nav">
  <input type="checkbox" id="nav-check" />
  <div class="nav-header">
    <a href="/"><img src="/img/logo.png" href="#" alt="waziup logo" /></a>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links" id="myNav">
    <a class="nav-item {{if hasPrefix .File.Path "iot-edge-platform"}}active{{end}}" href="/iot-edge-platform/">IoT Edge Platform</a>
    <a class="nav-item {{if hasPrefix .File.Path "capacity-building"}}active{{end}}" href="/capacity-building/">Capacity Building</a>
    <a class="nav-item {{if hasPrefix .File.Path "projects"}}active{{end}}" href="/projects/">Projects</a>
    <a class="nav-item {{if hasPrefix .File.Path "media"}}active{{end}}" href="/media/">Media</a>
    <a class="nav-item {{if hasPrefix .File.Path "about-us"}}active{{end}}" href="/about-us/">About Us</a>

    <div class="dropdown">
      <button class="dropbtn">
        <span class="material-symbols-outlined"> workspaces </span> Go to Platforms
      </button>
      <div class="dropdown-content">
        <a href="https://lab.waziup.io/" target="_blank"> 
          <span class="material-symbols-outlined">school</span>
          <span>Learning Center</span>
        </a>
        <a href="http://dashboard.waziup.io/" target="_blank">
          <span class="material-symbols-outlined">dashboard</span>
          <span>Waziup Dashboard</span>
        </a>
        <!-- <a href="http://wazigate.local/">
          <span class="material-symbols-outlined">speed</span>
          <span>Wazigate Dashboard</span>
        </a> -->
      </div>
    </div>
  </div>
</div>

<script>
  var header = document.getElementById("myNav");
var navItem = header.getElementsByClassName("nav-item");
console.log("checking: ", navItem.length);
for (var i = 0; i < navItem.length; i++) {
  navItem[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("nav-active");
    console.log("checking click: ", current);
    current[0].className = current[0].className.replace(" nav-active", "");
    this.className += " nav-active";
  });
}
</script>