<!-- <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/posts/">Blog</a></li>
    </ul>
  </nav> -->

<div class="nav">
  <input type="checkbox" id="nav-check" />
  <div class="nav-header">
    <img src="/img/logo.png" href="#" alt="waziup logo" />
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <div class="dropdown">
      <button class="dropbtn">
        IoT Edge Platform
        <span class="material-symbols-outlined">arrow_drop_down</span>
      </button>
      <div class="dropdown-content">
        <a href="/iot-edge-platform/#build-your-solution">Build your solution</a>
        <a href="#">Our development boards</a>
        <a href="#">Out open-source edge platform</a>
        <!-- <a href="#">cloud</a> -->
        <!-- <a href="#">Case Study</a> -->
      </div>
    </div>
    <a href="/capacity-building/">Capacity Building</a>
    <a href="/projects/">Projects</a>
    <a href="/media/">Media</a>
    <a href="/about/">About Us</a>
    <a href="https://forum.waziup.io/" target="_blank"
      >Forum <span class="material-symbols-outlined"> arrow_outward </span>
    </a>
    <button class="btn">
      <span class="material-symbols-outlined"> workspaces </span> Go to
      Platforms
    </button>
  </div>
</div>

<!-- <nav class="nav-bar">
    <div class="container">
      <input type="checkbox" id="drop-down-cbox"/>
      <label for="drop-down-cbox">
        <span></span>
        <span></span>
        <span></span>
      </label>
  
      <h1 class="site-logo">Homepage</h1>
  
      <ul class="main-nav small-caps">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><span>List of Work</span>
          <ul>
            <li><a href="#">Codepen</a></li>
            <li><a href="">Behance</a></li>
            <li><a href="#">Github</a></li>
          </ul>
        </li>
        <li><a href="#">Contact</a></li>
      </ul>
      
    </div>
  </nav> -->
