{{$resource := .Page.Resources}}

<li class="project-card">
    <div class="media">
      <img class="logo" src="{{ .Logo.RelPermalink }}" alt="Image">
      {{ $colors := .Logo.Colors }}
      {{ $color := index $colors 0 }}
      {{ partial "tech-ring.html" (dict "color" $color) }}
    </div>
    <div class="content">
      <h3>{{ .Title }}</h3>
      <a class="" href="{{ .Permalink }}">
        <span class="material-symbols-outlined">arrow_circle_right</span> Read more
      </a>
    </div>
</li>
