{{ define "main" }}
<div class="page" id="home">
  <!-- Hero section -->
  <div class="hero section">
    <div class="slider-container">
      <div class="slider-wrapper">
        <div class="slider">
          <div>
            <div>
              <h2>Waziup IoT Platform</h2>
              <h3>
                Empowering your IoT solutions with efficiency and adaptability
              </h3>
            </div>
            <img src="/img/iot-banner-slide_n.png" />
          </div>
          <div>
            <div>
              <h2>Waziup Capacity Building</h2>
              <h3>
                Solution package with online learning and prototyping platform
              </h3>
            </div>
            <img src="/img/capacity-building-slide_n.png" />
          </div>
          <div>
            <div>
              <h2>Waziup R&I Projects</h2>
              <h3>
                Enabling sustainability and affordability or a smarter future
              </h3>
            </div>
            <img src="/img/project-slide_n.png" />
          </div>
        </div>
        <div class="slider-nav">
          <a></a>
          <a></a>
          <a></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Service section -->
  <section class="section banded">
    <h1>Our Services</h1>

    <div class="card-group">
      {{ $services := .Page.Params.services }}
      {{ range $i, $e := $services }}
        <div class="service-card">
          <div class="icon">
            <span class="material-symbols-outlined"> {{ .icon }} </span>
          </div>
          <h2 class="title">{{ .title }}</h2>
          <p class="description">{{ .text }}</p>
        </div>
      {{ end }}
    </div>
  </section>

    <!-- Branding video section -->
    <section class="section banded" id="digital-farming">
      <div class="content">
        <div>
          {{ .Page.Params.brandingVideo | markdownify }}
        </div>
        <div>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/hu-v-eukLAc"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </section>

  <!-- Technology section -->
  <section class="section banded">
    <h1>End-to-End Technology</h1>
    <div class="content">
      <div class="w40">
        <img src="/img/e2e-iot.png" />
      </div>
      <div class="w60">
        {{ .Page.Params.technology | markdownify }}
      </div>
    </div>
  </section>

  <!-- R&I section -->
  <section class="section banded">
    <h1>Research & Innovation Projects</h1>
    <div class="card-group">
      {{ $projectPage := .Page.GetPage "research-innovation/projects" }}
      {{ $projects := sort $projectPage.Pages ".Weight" "desc" | first 3 }}
      {{ range $projects }}
        {{ $logo := .Resources.GetMatch .Params.logo }}
        {{ partial "project-card.html" (dict 
          "Permalink" .Permalink 
          "Logo" $logo
          "Category" .Params.category 
          "Title" .Title )}} 
      {{ end }}
    </div>
    <div style="display: flex; justify-content: center; align-items: center">
      <a class="btn-call-to-action" href="/research-innovation#our-projects">
        <span class="material-symbols-outlined">arrow_circle_right</span>
        See all
      </a>
    </div>
  </section>

  <!-- Quote section -->
  <section class="section banded">
    <h1>They say about us...</h1>
    <div class="content">
      <div>
        <img src="/img/startup.png" style="width:450px" />
      </div>
      <div class="quote">
        <div class="flex flex-left">
          <img src="/img/quote.svg" alt="" style="width:60px; transform: scaleX(-1)"/>
        </div>
        <div class="flex flex-center">
          <span>
            Waziup simplifies the process of creating and deploying IoT
            applications, making it easy for us to bring our ideas to life.</span
          >
        </div>
        <div class="flex flex-right">
          <img src="/img/quote.svg" alt="" style="width:60px"/>
        </div>
      </div>
    </div>
  </section>

  <!--News section -->
  <section class="section banded">
    <h1>Latest News</h1>

    <div style="margin-top: auto">
      <ul class="card-group" id="news-card-group">
        {{ $newsPage := .Page.GetPage "media/news" }}
        {{ $news := first 3 $newsPage.Pages }}
        {{ range sort $news ".Date" "desc" }}
         {{ $cover := .Resources.GetMatch .Params.cover }}
         {{ partial "card.html" (dict
           "Cover" $cover.RelPermalink
           "Category" .Params.category
           "Date" (.Date.Format "January 2, 2006")
           "Description" .Description
           "Permalink" .Permalink )}}
        {{ end }}
      </ul>
      <div style="display: flex; justify-content: center; align-items: center">
        <a class="btn-call-to-action" href="/media/news/">
          <span class="material-symbols-outlined">arrow_circle_right</span>
          See all
        </a>
      </div>
    </div>
  </section>

  <!-- Case studies section -->
  <section class="section banded">
    <h1>Case studies</h1>
    <div class="card-group" style="margin-top: auto" id="caseStudy-card-group">
      {{ $caseStudyPage := .Page.GetPage "case-study" }}
      {{ $caseStudy := first 6 $caseStudyPage.Pages }}
      {{ range sort $caseStudy ".Date" "desc" }}
        {{ $cover := .Resources.GetMatch .Params.cover }}
        {{ partial "card.html" (dict 
          "Size" "medium"
          "Cover" $cover.RelPermalink
          "Date" .Date
          "Title" .Title
          "Description" .Description
          "Permalink" .Permalink )}}
      {{ end }}
    </div>
  </section>

  <!-- partners section -->
  <section class="section banded">
    <h1>Our Partners</h1>
    <div class="logoshow">
      <img src="/img/partners/fiware.png" alt="fiware" />
      <img src="/img/partners/itu.png" alt="itu-logo" />
      <img src="/img/partners/eu-commission.png" alt="eu-commission-logo" />
      <img src="/img/partners/mic-africa.png" alt="microsoft-africa-logo" />
      <img src="/img/partners/smart-africa.png" alt="smart-africa-logo" />
      <img src="/img/partners/orange.png" alt="orange-logo" />
      <img src="/img/partners/esn.jpg" alt="esn-logo" />
      <img src="/img/partners/cyric.png" alt="cyric-logo" />
      <img src="/img/partners/innotec.png" alt="innotec-logo" />
      <img src="/img/partners/htw.png" alt="htw-logo" />
      <img src="/img/partners/constructor-uni.png" alt="constructor-university-logo"
      />
    </div>
  </section>
</div>
{{end}}
