<!-- <div class="card">
  <img src="/img/demo.jpg" alt="" />
  <div class="card-content">
    <span class="card-category">{{ .Get "category" }}</span>
    <p>{{ .Get "title" }}</p>
    <span>{{.Get "date"}}</span>
  </div>
</div>


<div class="card">
  <div class="media">
    <img src="https://cff2.earth.com/uploads/2017/08/09051140/Arts-really-do-heal-divisions-and-bring-people-together.jpg" alt="">
    <span>EU | Africa</span>
  </div>
  <div class="content">
    <span>November 9, 2022</span>
    <h3>Hubiquitous Project: Unlocking the Potential of IoT in Africa</h3>
  </div>
</div> -->