{{ $shortcode := .}}
{{ $caseStudyPage := $shortcode.Page.GetPage "case-study" }} 

{{ $caseStudy := first 6 $caseStudyPage.Pages }}

<div class="card-group" style="margin-top: auto;" id="caseStudy-card-group">
  {{ range sort $caseStudy ".Date" "desc" }}
    {{ $caseStudy := . }}

  {{ $cover := $caseStudy.Resources.GetMatch .Params.cover }}
  {{ partial "card.html" (dict
    "Permalink" $caseStudy.Permalink
    "Cover" $cover.RelPermalink
    "Category" $caseStudy.Params.category
    "Date" ($caseStudy.Date.Format "January 2, 2006")
    "Description" $caseStudy.Description )}}

  {{ end }}
</div>
