{{ $shortcode := .}}
{{ $caseStudyPage := $shortcode.Page.GetPage "case-study" }} 

{{ $caseStudy := first 6 $caseStudyPage.Pages }}

<div class="card-group" style="margin-top: auto;" id="caseStudy-card-group">
  {{ range sort $caseStudy ".Date" "desc" }}
    {{ $caseStudy := . }}

  {{ $cover := $caseStudy.Resources.GetMatch .Params.cover }}
  {{ partial "devboard-card.html" (dict
    "Size" "medium"
    "Cover" $cover.RelPermalink
    "Date" $caseStudy.Date
    "Title" $caseStudy.Title
    "Description" $caseStudy.Description
    "Permalink" $caseStudy.Permalink )}}

  {{ end }}
</div>
