<div class="card-certification-narrow">
    <a class="card">
        <div class="media">
            <img src="/img/svg/cert-iot.svg" alt="">
        </div>
        <div class="content">
            <span style="font-size: smaller;">Waziup Certified</span>
            <span style="font-weight: 600;">Introduction to IoT</span>
        </div>
        <div class="media">
            <span class="material-symbols-outlined">arrow_right_alt</span>
        </div>
    </a>
    <a class="card">
        <div class="media">
            <img src="/img/svg/cert-ml.svg" alt="">
        </div>
        <div class="content">
            <span style="font-size: smaller;">Waziup Certified</span>
            <span style="font-weight: 600;">Fundamentals of AI</span>
        </div>
        <div class="media">
            <span class="material-symbols-outlined">arrow_right_alt</span>
        </div>
    </a>
    <!-- <div class="card">
        <div class="media">
            <img src="/img/svg/cert-cs.svg" alt="">
        </div>
        <div class="content">
            <span style="font-size: smaller;">Waziup Certified</span>
            <span style="font-weight: 600;">Introduction to Cloud Platforms</span>
        </div>
        <div class="media">
            <span class="material-symbols-outlined">arrow_right_alt</span>
        </div>
    </div>
    <div class="card">
        <div class="media">
            <img src="/img/svg/cert-wl.svg" alt="">
        </div>
        <div class="content">
            <span style="font-size: smaller;">Waziup Certified</span>
            <span style="font-weight: 600;">Wireless communication essentials</span>
        </div>
        <div class="media">
            <span class="material-symbols-outlined">arrow_right_alt</span>
        </div>
    </div> -->
</div>