<div class="contact">
  <div class="g-map">
    <div class="card">
      <span class="material-symbols-outlined">mail</span>
      <span>contact@waziup.org</span>
    </div>
    <div class="card">
      <span class="material-symbols-outlined">call</span>
      <span>+4906XXXXXXXXXX</span>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d627.4021110689048!2d13.741468202820867!3d51.02338219211326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4709c5e638319019%3A0xad695a9e88e4568a!2sR%C3%A4cknitzh%C3%B6he%2050-52%2C%2001217%20Dresden!5e0!3m2!1sen!2sde!4v1675937043047!5m2!1sen!2sde"
      width="100%"
      height="90%"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <form class="contact-form">
    <label for="fname">Name</label>
    <input type="text" id="fname" name="firstname" placeholder="" />

    <label for="lname">Email</label>
    <input type="email" id="lname" name="lastname" placeholder="" />

    <label for="subject">Message</label>
    <textarea
      id="subject"
      name="subject"
      placeholder=""
      style="height: 200px"
    ></textarea>

    <input type="submit" value="Submit" />
  </form>
</div>

<div style="margin-bottom: 2vw">
  <h1>FAQs</h1>
  <button class="accordion">
    What kind of IoT solutions does Waziup offer?
  </button>
  <div class="panel">
    <p>
      Waziup offers a range of IoT solutions, including IoT development boards,
      cloud platforms, and edge platforms. These solutions are designed to help
      businesses and organizations develop, deploy, and connect their IoT
      solutions with the LoRa network.
    </p>
  </div>

  <button class="accordion">What is the LoRa network?</button>
  <div class="panel">
    <p>
      LoRa is a long-range, low-power wireless network technology used for the
      Internet of Things (IoT). The LoRa network is designed to allow IoT
      devices to communicate over long distances without requiring a lot of
      power.
    </p>
  </div>

  <button class="accordion">
    What is the focus of Waziup's capacity building programs?
  </button>
  <div class="panel">
    <p>
      Waziup's capacity building programs are focused on empowering developers,
      engineers, IoT enthusiasts, startups, and Digital Innovation Hubs (DIHs).
      They provide training and resources to help these groups develop their IoT
      skills and bring their solutions to market.
    </p>
  </div>

  <button class="accordion">Does Waziup offer consulting services?</button>
  <div class="panel">
    <p>
      Yes, Waziup offers consulting services to help organizations set up and
      maintain IoT Labs in universities and tech hubs. These services are
      designed to provide organizations with the knowledge and resources they
      need to successfully develop and deploy IoT solutions.
    </p>
  </div>

  <button class="accordion">What is the impact of Waziup in Africa?</button>
  <div class="panel">
    <p>
      Waziup is focused on fostering IoT solutions for sustainable development
      in Africa. They aim to empower communities, businesses, and organizations
      with the tools and resources they need to bring their IoT solutions to
      market. Their impact can be seen in the growth of local startups,
      increased access to IoT technologies, and the development of innovative
      IoT solutions.
    </p>
  </div>
</div>

