<div class="card-group" style="justify-content: center;">
    <div class="cloud-platform-circular-card">
        <img src="cp1.png" alt="">
        <span class="name">Sensor Management</span>
        <span class="desc">aome text for testing purpose to chack if it fits well or not.</span>
    </div>
    <div class="cloud-platform-circular-card">
        <img src="cp2.png" alt="">
        <span class="name">Gateway Management</span>
        <span class="desc">aome text for testing purpose to chack if it fits well or not.</span>
    </div>
    <div class="cloud-platform-circular-card">
        <img src="cp3.png" alt="">
        <span class="name">Notification & Actuation</span>
        <span class="desc">aome text for testing purpose to chack if it fits well or not.</span>
    </div>
    <div class="cloud-platform-circular-card">
        <img src="cp4.png" alt="">
        <span class="name">API Development</span>
        <span class="desc">aome text for testing purpose to chack if it fits well or not.</span>
    </div>
</div>