{{ $shortcode := .}} {{ $devboardsPage := $shortcode.Page.GetPage "dev-boards"}}
<!-- Title of devboards page: {{$devboardsPage.Title }}.<br /> -->

{{ $devboards := first 6 $devboardsPage.Pages }}

<div class="card-group" style="margin-top: auto;">
  {{ range sort $devboards ".Date" "desc" }} {{ $devboards := . }}

  <!-- - devboards: {{.Title}}<br> -->
  {{ $cover := $devboards.Resources.GetMatch .Params.cover }} {{ partial
  "devboard-card.html" (dict
  "Title" $devboards.Params.title 
  "Description" $devboards.Description )}} 
  {{ end }}
</div>
