<div class="eco-img-container">
  <a href="/startups">
    <div class="card" style="background-image: url(/img/eco-startup.png);">
      <!-- <img src="/img/eco-startup.png" alt=""/> -->
      <h1>Startups</h1>
      <p>Empowered <b>44</b> Startups in all over Africa</p>
    </div>
  </a>

  <a href="/techhubs">
    <div class="card" style="background-image: url(/img/eco-techhub.png);">
      <!-- <img src="/img/eco-techhub.png" alt=""/> -->
      <h1>TechHubs</h1>
      <p>Supporting <b>6</b> TechHubs in all over Africa</p>
    </div>
  </a>
</div>
