<div class="eco-img-container">
  <a href="/startups">
    <div class="card" style="background-image: url(/img/eco-startup.png);">
      <!-- <img src="/img/eco-startup.png" alt=""/> -->
      <h3>Startups</h3>
      <p>Accelerated more than <b>50</b> startups</p>
    </div>
  </a>

  <a href="/techhubs">
    <div class="card" style="background-image: url(/img/eco-techhub.png);">
      <!-- <img src="/img/eco-techhub.png" alt=""/> -->
      <h3>TechHubs</h3>
      <p>Supporting <b>25</b> TechHubs in Africa</p>
    </div>
  </a>
</div>
