<div style="margin-bottom: 2vw">
    <h1>FAQs</h1>
    <button class="accordion">
      What kind of IoT solutions does Waziup offer?
    </button>
    <div class="panel">
      <p>
        Waziup offers a range of IoT solutions, including IoT development boards,
        cloud platforms, and edge platforms. These solutions are designed to help
        businesses and organizations develop, deploy, and connect their IoT
        solutions with the LoRa network.
      </p>
    </div>
  
    <button class="accordion">What is the LoRa network?</button>
    <div class="panel">
      <p>
        LoRa is a long-range, low-power wireless network technology used for the
        Internet of Things (IoT). The LoRa network is designed to allow IoT
        devices to communicate over long distances without requiring a lot of
        power.
      </p>
    </div>
  
    <button class="accordion">
      What is the focus of Waziup's capacity building programs?
    </button>
    <div class="panel">
      <p>
        Waziup's capacity building programs are focused on empowering developers,
        engineers, IoT enthusiasts, startups, and Digital Innovation Hubs (DIHs).
        They provide training and resources to help these groups develop their IoT
        skills and bring their solutions to market.
      </p>
    </div>
  
    <button class="accordion">Does Waziup offer consulting services?</button>
    <div class="panel">
      <p>
        Yes, Waziup offers consulting services to help organizations set up and
        maintain IoT Labs in universities and tech hubs. These services are
        designed to provide organizations with the knowledge and resources they
        need to successfully develop and deploy IoT solutions.
      </p>
    </div>
  
    <button class="accordion">What is the impact of Waziup in Africa?</button>
    <div class="panel">
      <p>
        Waziup is focused on fostering IoT solutions for sustainable development
        in Africa. They aim to empower communities, businesses, and organizations
        with the tools and resources they need to bring their IoT solutions to
        market. Their impact can be seen in the growth of local startups,
        increased access to IoT technologies, and the development of innovative
        IoT solutions.
      </p>
    </div>
  </div>
  <script>
    // accordions
    var acc = document.getElementsByClassName("accordion");
    var acc_counter;
  
    for (acc_counter = 0; acc_counter < acc.length; acc_counter++) {
      acc[acc_counter].addEventListener("click", function () {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
  </script>