<div class="home-video-container">
  <div class="iframe-container">
    <iframe
      width="560"
      height="300"
      src="https://www.youtube.com/embed/hu-v-eukLAc?autoplay=0;rel=0&loop=0;controls=0&amp;showinfo=0&autohide=1"
      title="YouTube video player"
      frameborder="0"
      rel="0"
      allowfullscreen
    >
    </iframe>
  </div>
  <div class="text-container">
    <h2>Providing low-cost and open-source IoT technology and services, Waziup is helping to build a more connected and technologically advanced Africa.</h2>
  </div>
</div>
