{{ $shortcode := .}}
{{ $projectPage := $shortcode.Page.GetPage "research-innovation/projects" }} 

{{ $projects := sort $projectPage.Pages ".Weight" "desc" }}
{{ $projects := first 3 $projects }}

  <div class="card-group">
    {{ range $projects }}
      {{ $project := . }}
      {{ warnf "Processing %s" .Title }}

    {{ $cover := $project.Resources.GetMatch .Params.cover }}
    {{ partial "project-card.html" (dict
        "Permalink" $project.Permalink
        "Cover" $cover.RelPermalink
        "Category" $project.Params.category
        "Title" $project.Title )}}
    {{ end }}
  </div>
  <div style="display: flex; justify-content: center; align-items: center;">
    <a class="btn-call-to-action" href="/research-innovation#all-our-projects">
      <span class="material-symbols-outlined">arrow_circle_right</span> See all
    </a>
  </div>
