<div class="eco-img-container">
  <div class="card" style="width: 30%">
    <img src="/img/intel-irris-blue.png" alt="" />
    <h1 style="text-align: center; left: 0; width: 100%; font-weight: 400;">Intel-Irris</h1>
    <button>Learn more</button>
</div>

  <div class="card" style="width: 30%">
    <img src="/img/hubiquitous-blue.png" alt="" />
    <h1 style="text-align: center; left: 0; width: 100%; font-weight: 400;">HUBiquitous</h1>
    <button>Learn more</button>
</div>

  <div class="card" style="width: 30%">
    <img src="/img/osirris-blue.png" alt="" />
    <h1 style="text-align: center; left: 0; width: 100%; font-weight: 400;">Osirris</h1>
    <button onclick="">Learn more</button>
</div>
</div>
