<div class="hero section">
  <div class="slider-container">
    <div class="slider-wrapper">
      <div class="slider">
        <div>
          <div>
			<h2>Waziup IoT Platform</h2>
			<h3>Empowering your IoT solutions with efficiency and adaptability</h3>
		  </div>
          <img src="/img/iot-banner-slide_.png" />
        </div>
        <div>
          <div>
			<h2>Waziup Capacity Building</h2>
			<h3>Solution package with online learning and prototyping platform</h3>
		  </div>
          <img src="/img/capacity-building-slide_.png" />
        </div>
        <div>
          <div>
			<h2>Waziup R&I Projects</h2>
			<h3>Enabling sustainability and affordability or a smarter future</h3>
		  </div>
          <img src="/img/project-slide_.png" />
        </div>
      </div>
      <div class="slider-nav">
        <a></a>
        <a></a>
        <a></a>
      </div>
    </div>
  </div>
</div>
