<section class="top-banner">
  <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="/img/iot-banner.webp" style="width: 100%" />
      {{ .Inner |  markdownify }}
    </div>

    <div class="mySlides fade">
      <img src="/img/capacity-banner.webp" style="width: 100%" />
      {{ .Inner |  markdownify }}
    </div>

    <div class="mySlides fade">
      <img src="/img/project-banner.webp" style="width: 100%" />
      {{ .Inner |  markdownify }}
    </div>
  </div>

  <div style="text-align: center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</section>

