<div class="home-video-container">
  <div class="iframe-container">
    <img src="/img/video-thumbnail.png" alt="" id="vid-thumb" onclick="playVideo()">
    <iframe
      src="https://www.youtube.com/embed/hu-v-eukLAc?autoplay=1;rel=0&loop=0;controls=0&amp;showinfo=0&autohide=1"
      title="YouTube video player"
      frameborder="0"
      rel="0"
      allowfullscreen
      id="vid-home"
    >
    </iframe>
  </div>
  <div class="text-container">
    {{ .Inner | markdownify }}
    <button class="btn-lemo-solid btn-lemo-lined">Contact Us</button>
  </div>
</div>


<script>

  function playVideo() {
    var videoThumbnail = document.getElementById("vid-thumb");
    var videoHome = document.getElementById("vid-home");

    videoThumbnail.style.display = "none";
    videoHome.style.display = "block";
    
  }
</script>