{{ $shortcode := .}}

{{ $newsPage := $shortcode.Page.GetPage "news" }} 
{{ $news := first 3 $newsPage.Pages }}

<div style="margin-top: auto;">
  <ul class="card-group"  id="news-card-group">
    {{ range sort $news ".Date" "desc" }}
    {{ $news := . }}
    
    {{ $cover := $news.Resources.GetMatch .Params.cover }}
    {{ partial "card.html" (dict
    "Cover" $cover.RelPermalink
    "Category" $news.Params.category
    "Date" ($news.Date.Format "January 2, 2006")
    "Description" $news.Description
    "Permalink" $news.Permalink )}}
    
    {{ end }}  
    
  </ul>
    <div style="display: flex; justify-content: center; align-items: center;">
      <a class="btn-call-to-action" href="/news/">
        <span class="material-symbols-outlined">arrow_circle_right</span> See all
      </a>
    </div>
</div>
