<div class="about">
  <div class="card">
    <span class="material-symbols-outlined"> memory </span>
    <h3>Hardware & Boxes</h3>
    <p>IoT components for the development of IoT prototypes</p>
    <button>Learn More</button>
  </div>
  <div class="card">
    <span class="material-symbols-outlined"> cloud_circle </span>
    <h3>Cloud Platform</h3>
    <p>IoT Solution Deployment on Cloud Platform with LoRa</p>
    <button>Learn More</button>
  </div>

  <div class="card">
    <span class="material-symbols-outlined"> cast_for_education </span>
    <h3>Capacity Building</h3>
    <p>Empowering Developers, IoT enthusiasts, Startups & DIHs</p>
    <button>Learn More</button>
  </div>

  <div class="card">
    <span class="material-symbols-outlined"> settings_suggest </span>
    <h3>IoT Lab Service</h3>
    <p>IoT Lab Establishment and Maintenance Consulting</p>
    <button>Learn More</button>
  </div>
</div>
