<div class="page-section {{ if eq (.Get "reverse") "true" }}page-section-reverse{{end}}" >
    <div class="background-canvas left-item">
        <img src="{{ .Get "image" }}" alt="" >
    </div>
    <div class="right-item">
        <div class="flex-column" style="flex-grow: 1; justify-content: center;">
            {{ .Inner |  markdownify }}
        </div>

        {{ if eq (.Get "with-certification") "true" }}
        <div class="card-certification-narrow">
            <div class="card">
                <div class="media">
                    <img src="/img/pic.png" alt="">
                </div>
                <div class="content">
                    <span style="font-size: smaller;">Waziup Certified</span>
                    <span style="font-size: larger;">Introduction to IoT</span>
                </div>
                <div class="media">
                    <span class="material-symbols-outlined">arrow_right_alt</span>
                </div>
            </div>
            <div class="card">
                <div class="media">
                    <img src="/img/pic.png" alt="">
                </div>
                <div class="content">
                    <span style="font-size: smaller;">Waziup Certified</span>
                    <span style="font-size: larger;">Introduction to IoT</span>
                </div>
                <div class="media">
                    <span class="material-symbols-outlined">arrow_right_alt</span>
                </div>
            </div>
            <div class="card">
                <div class="media">
                    <img src="/img/pic.png" alt="">
                </div>
                <div class="content">
                    <span style="font-size: smaller;">Waziup Certified</span>
                    <span style="font-size: larger;">Introduction to IoT</span>
                </div>
                <div class="media">
                    <span class="material-symbols-outlined">arrow_right_alt</span>
                </div>
            </div>
            <div class="card">
                <div class="media">
                    <img src="/img/pic.png" alt="">
                </div>
                <div class="content">
                    <span style="font-size: smaller;">Waziup Certified</span>
                    <span style="font-size: larger;">Introduction to IoT</span>
                </div>
                <div class="media">
                    <span class="material-symbols-outlined">arrow_right_alt</span>
                </div>
            </div>
        </div>
        {{end}}
     
        <div style="display: flex; gap: 1rem;">
            <button class="btn-lemo-solid btn-lemo-lined{{ if eq (.Get "button-style") "lined" }}btn-lemo-lined{{end}}" >Learn more</button>
            
            {{ if eq (.Get "button") "multiple" }}
            <button class="btn-lemo-solid " >Try Now</button>
            {{end}}
        </div>
        
    </div>
</div>