<!-- {{ $shortcode := . }}
{{ $page := $shortcode.Page }}

{{ partial "pagination.html" $page }} -->

{{ $shortcode := .}}

{{ $newsPage := $shortcode.Page.GetPage "media/news" }} 
{{ $news := $newsPage.Pages }}

<div style="margin-top: auto;">
  <ul class="card-group"  id="news-card-group">
    {{ range sort $news ".Date" "desc" }}
    {{ $news := . }}
    
    {{ $cover := $news.Resources.GetMatch .Params.cover }}
    {{ partial "card.html" (dict
    "Cover" $cover.RelPermalink
    "Category" $news.Params.category
    "Date" ($news.Date.Format "January 2, 2006")
    "Description" $news.Description
    "Permalink" $news.Permalink )}}
    
    {{ end }}  
    
  </ul>
</div>