{{ $shortcode := .}} {{ $projectPage := $shortcode.Page.GetPage "projects" }} 
<!-- Title of project page: {{$projectPage.Title }}.<br /> -->

{{ $projects := first 6 $projectPage.Pages }}

  <div class="card-group">
    {{ range sort $projects ".Date" "desc" }}
      {{ $project := . }}
  
    <!-- - Project: {{.Title}}<br> -->
    {{ $cover := $project.Resources.GetMatch .Params.cover }}
    {{ partial "project-card.html" (dict
      "Permalink" $project.Permalink
      "Cover" $cover.RelPermalink
      "Category" $project.Params.category
      "Title" $project.Title )}}
    {{ end }}
  </div>
