<div
  style="
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 3rem 0;
    padding-bottom: 0.5rem;
  "
>
  <div class="stv-radio-buttons-wrapper">
    <input
      type="radio"
      class="stv-radio-button"
      name="radioButtonTest"
      value="1"
      id="button1"
      onclick="toggleCards()"
      checked
    />
    <label for="button1">News</label>
    <input
      type="radio"
      class="stv-radio-button"
      name="radioButtonTest"
      value="2"
      id="button2"
      onclick="toggleCards()"
    />
    <label for="button2">Publications </label>
  </div>
</div>

<script>

  function toggleCards() {
    var pubCard = document.getElementById("pub-card-group");
    var newsCard = document.getElementById("news-card-group");

    nCheck = document.querySelector("#button1:checked") !== null;
    pCheck = document.querySelector("#button2:checked") !== null;

    if (nCheck) {
      newsCard.style.display = "flex";
      pubCard.style.display = "none";
    } else if (pCheck) {
      pubCard.style.display = "flex";
      newsCard.style.display = "none";
    } else {
      newsCard.style.display = "flex";
      pubCard.style.display = "none";
      console.log("deafult");
    }
  }
</script>
