<div class="card-group">
  <div class="service-card">
    <div class="icon">
      <div class="icon-circle">
        <span class="material-symbols-outlined"> school </span>
      </div>
    </div>
    <div class="title">
      <span>IoT Skills development & Training</span>
    </div>
    <div class="description">
      <p>
        We offer IoT capacity building for your developers & engineers. We
        organize hackathons and bootcamps on your premises.
      </p>
    </div>
  </div>

  <div class="service-card">
    <div class="icon">
      <div class="icon-circle">
        <span class="material-symbols-outlined"> memory </span>
      </div>
    </div>
    <div class="title">
      <span>IoT Solution Prototyping</span>
    </div>
    <div class="description">
      <p>
        We help you developing your solutions, such as farming applications. We
        developed a full stack technology to support your applications.
      </p>
    </div>
  </div>

  <div class="service-card">
    <div class="icon">
      <div class="icon-circle">
        <span class="material-symbols-outlined"> temp_preferences_eco </span>
      </div>
    </div>
    <div class="title">
      <span>Digital Farming</span>
    </div>
    <div class="description">
      <p>
        We create innovative solutions to support farmers: soil monitoring,
        livestock monitoring, water quality just to name a few.
      </p>
    </div>
  </div>

  <div class="service-card">
    <div class="icon">
      <div class="icon-circle">
        <span class="material-symbols-outlined"> hub </span>
      </div>
    </div>
    <div class="title">
      <span>IoT Lab Capacity</span>
    </div>
    <div class="description">
      <p>
        We deploy a key-in-hand lab called WaziLab in your institution. WaziLab
        is a complete package with hardware, software, training and services.
      </p>
    </div>
  </div>

  <div class="service-card">
    <div class="icon">
      <div class="icon-circle">
        <span class="material-symbols-outlined"> home_iot_device </span>
      </div>
    </div>
    <div class="title">
      <span>IoT innovation ecosystem boosting</span>
    </div>
    <div class="description">
      <p>
        We support startups with our Acceleration Program and incubate with
        technical bootcamps, networking activities, and business development.
      </p>
    </div>
  </div>

  <div class="service-card">
    <div class="icon">
      <div class="icon-circle">
        <span class="material-symbols-outlined"> find_in_page </span>
      </div>
    </div>
    <div class="title">
      <span>Research & Innovation Projects</span>
    </div>
    <div class="description">
      <p>
        We are currently part of 6 research projects, funded by the European
        Commission and the German BMBF.
      </p>
    </div>
  </div>
</div>
