<div class="card-group">
  <div class="service-card">
    <div class="icon">
      <span
        class="material-symbols-outlined"
        style="font-size: 60px; color: #0d1528; font-weight: 100"
      >
        school
      </span>
    </div>
    <h2 class="title">IoT Skills development & Training</h2>
    <p class="description">
      We offer IoT capacity building for your developers & engineers. We
      organize hackathons and bootcamps on your premises.
    </p>
  </div>
  <div class="service-card">
    <div class="icon">
      <span
        class="material-symbols-outlined"
        style="font-size: 60px; color: #0d1528; font-weight: 100"
      >
        memory
      </span>
    </div>
    <h2 class="title">IoT Solution Prototyping</h2>
    <p class="description">
      We help you developing your solutions, such as farming applications. We
      developed a full stack technology to support your applications.
    </p>
  </div>
  <div class="service-card">
    <div class="icon">
      <span
        class="material-symbols-outlined"
        style="font-size: 60px; color: #0d1528; font-weight: 100"
      >
        temp_preferences_eco
      </span>
    </div>
    <h2 class="title">Digital Farming</h2>
    <p class="description">
      We create innovative solutions to support farmers: soil monitoring,
      livestock monitoring, water quality just to name a few.
    </p>
  </div>
  <div class="service-card">
    <div class="icon">
      <span
        class="material-symbols-outlined"
        style="font-size: 60px; color: #0d1528; font-weight: 100"
      >
        hub
      </span>
    </div>
    <h2 class="title">IoT Lab Capacity</h2>
    <p class="description">
      We deploy a key-in-hand lab called WaziLab in your institution. WaziLab is
      a complete package with hardware, software, training and services.
    </p>
  </div>
  <div class="service-card">
    <div class="icon">
      <span
        class="material-symbols-outlined"
        style="font-size: 60px; color: #0d1528; font-weight: 100"
      >
        home_iot_device
      </span>
    </div>
    <h2 class="title">IoT innovation ecosystem boosting</h2>
    <p class="description">
      We support startups with our Acceleration Program and incubate with
      technical bootcamps, networking activities, and business development.
    </p>
  </div>
  <div class="service-card">
    <div class="icon">
      <span
        class="material-symbols-outlined"
        style="font-size: 60px; color: #0d1528; font-weight: 100"
      >
        find_in_page
      </span>
    </div>
    <h2 class="title">Research Projects</h2>
    <p class="description">
      We are currently part of 5 research projects, funded by the European
      Commission and the German BMBF.
    </p>
  </div>
</div>
