{{ $shortcode := .}}
{{ $startupPage := $shortcode.Page.GetPage "startups" }} 
<!-- Title of startup page: {{$startupPage.Title }}.<br /> -->

{{ $startups := first 6 $startupPage.Pages }}

<div class="card-group">
  {{ range sort $startups ".Date" "desc" }}
    {{ $startup := . }}

  <!-- - startup: {{.Title}}<br> -->
  {{ $cover := $startup.Resources.GetMatch .Params.cover }}
  {{ partial "card.html" (dict
    "Permalink" $startup.Permalink
    "Cover" $cover.RelPermalink
    "Title" $startup.Params.category
    "Description" $startup.Description
    "Date" ($startup.Date.Format "January 2, 2006") )}}

  {{ end }}
</div>
