{{ $shortcode := .}} {{ $startupPage := $shortcode.Page.GetPage "about-us/startups" }} 
{{ $startups := $startupPage.Pages }}

<div class="card-group">
  {{ range sort $startups ".Date" "desc" }}
    {{ $startup := . }}

  <!-- - startup: {{.Title}}<br> -->
  {{ $cover := $startup.Resources.GetMatch .Params.cover }}
  {{ partial "startup-card.html" (dict
    "Cover" $cover.RelPermalink
    "Title" $startup.Params.title
    "Description" $startup.Params.description
    "Lead" $startup.Params.lead
    "Location" $startup.Params.location
    )}}

  {{ end }}
</div>
