{{ $shortcode := .}} {{ $teammemberPage := $shortcode.Page.GetPage "team-members"}}

<div class="team-member-container" style="margin-top: auto;">
  {{ range sort $teammemberPage.Pages ".Weight" "desc" }} {{ $teammember := . }}

  <!-- - teammember: {{.Title}}<br> -->
  {{ $cover := $teammember.Resources.GetMatch .Params.cover }} {{ partial
    "team-member-card.html" (dict
    "Cover" $cover.RelPermalink
    "Name" $teammember.Params.name 
    "Role" $teammember.Params.role )}} 
  {{ end }}
</div>
