<!-- <div class="team-member-container">
    <div class="card">
        <img src="/img/waziup-team/Abdur.jpg" alt=""/>
        <div class="name">
            <h3>Dr. Ing. Abdur Rahim</h3>
            <span>Managing Director</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/waziup-team/Corentin.jpg" alt=""/>
        <div class="name">
            <h3>Dr. Ing. Corentin Dupont</h3>
            <span>Technical Director</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/waziup-team/sven.jpg" alt=""/>
        <div class="name">
            <h3>Prof. Sven Zeisberg</h3>
            <span>Innovation Director</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/waziup-team/Congduc.jpg" alt=""/>
        <div class="name">
            <h3>Prof. Congduc Pham</h3>
            <span>Scientific Manager</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/waziup-team/finger.jpg" alt=""/>
        <div class="name">
            <h3>Prof. Adolf Finger</h3>
            <span>Bureau Member</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/waziup-team/fiifi.jpg" alt=""/>
        <div class="name">
            <h3>Fiifi Baidoo</h3>
            <span>Innovation Manager</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/waziup-team/Prince.jpg" alt=""/>
        <div class="name">
            <h3>Prince Banini</h3>
            <span>Talent Program Manager</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/waziup-team/Johann.jpg" alt=""/>
        <div class="name">
            <h3>Johann Forster</h3>
            <span>Senior Programmer</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/waziup-team/Felix.png" alt=""/>
        <div class="name">
            <h3>Felix Markwordt</h3>
            <span>Senior Programmer</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/waziup-team/Nahin.jpg" alt=""/>
        <div class="name">
            <h3>Mohammad Nahin Islam</h3>
            <span>Frontend Developer</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/waziup-team/Maneesha.jpg" alt=""/>
        <div class="name">
            <h3>Maneesha Priyani</h3>
            <span>Project Manager</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/waziup-team/Solomon.jpg" alt=""/>
        <div class="name">
            <h3>Solomon Githu</h3>
            <span>Junior Researcher</span>
        </div>
    </div>
</div> -->

{{ $shortcode := .}} {{ $teammemberPage := $shortcode.Page.GetPage "team-members"}}

<div class="team-member-container" style="margin-top: auto;">
  {{ range sort $teammemberPage.Pages ".Weight" "desc" }} {{ $teammember := . }}

  <!-- - teammember: {{.Title}}<br> -->
  {{ $cover := $teammember.Resources.GetMatch .Params.cover }} {{ partial
    "team-member-card.html" (dict
    "Cover" $cover.RelPermalink
    "Name" $teammember.Params.name 
    "Role" $teammember.Params.role )}} 
  {{ end }}
</div>