<div class="team-member-container">
    <div class="card">
        <img src="/img/person1.png" alt=""/>
        <div class="name">
            <span>David Smith</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/person1.png" alt=""/>
        <div class="name">
            <span>David Smith</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/person1.png" alt=""/>
        <div class="name">
            <span>David Smith</span>
            <span>David Smith</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/person1.png" alt=""/>
        <div class="name">
            <span>David Smith</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/person1.png" alt=""/>
        <div class="name">
            <span>David Smith</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/person1.png" alt=""/>
        <div class="name">
            <span>David Smith</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/person1.png" alt=""/>
        <div class="name">
            <span>David Smith</span>
        </div>
    </div>

    <div class="card">
        <img src="/img/person1.png" alt=""/>
        <div class="name">
            <span>David Smith</span>
        </div>
    </div>
</div>